.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-3.080000px;}
._2{margin-left:-2.072000px;}
._1{margin-left:-1.008000px;}
._0{width:51.899997px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs4{font-size:56.000000px;}
.fs3{font-size:58.000000px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:124.000000px;}
.fs0{font-size:180.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:58.378342px;}
.y1{bottom:92.463963px;}
.yb{bottom:183.465942px;}
.ya{bottom:203.625954px;}
.y5{bottom:216.469650px;}
.y9{bottom:229.785957px;}
.y8{bottom:249.945961px;}
.y4{bottom:249.949646px;}
.y7{bottom:276.105965px;}
.y3{bottom:283.429647px;}
.y6{bottom:296.265962px;}
.h5{height:40.796875px;}
.h4{height:41.517578px;}
.h2{height:52.453125px;}
.h3{height:89.669922px;}
.h1{height:131.132812px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x5{left:68.872803px;}
.x4{left:118.747803px;}
.x1{left:152.391464px;}
.x3{left:206.622803px;}
.x2{left:298.000107px;}
.x6{left:333.900024px;}
.x7{left:351.900024px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-4.106667pt;}
._2{margin-left:-2.762667pt;}
._1{margin-left:-1.344000pt;}
._0{width:69.199996pt;}
.fs4{font-size:74.666667pt;}
.fs3{font-size:77.333333pt;}
.fs1{font-size:96.000000pt;}
.fs2{font-size:165.333333pt;}
.fs0{font-size:240.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:77.837789pt;}
.y1{bottom:123.285283pt;}
.yb{bottom:244.621257pt;}
.ya{bottom:271.501272pt;}
.y5{bottom:288.626200pt;}
.y9{bottom:306.381276pt;}
.y8{bottom:333.261281pt;}
.y4{bottom:333.266195pt;}
.y7{bottom:368.141286pt;}
.y3{bottom:377.906197pt;}
.y6{bottom:395.021282pt;}
.h5{height:54.395833pt;}
.h4{height:55.356771pt;}
.h2{height:69.937500pt;}
.h3{height:119.559896pt;}
.h1{height:174.843750pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x5{left:91.830404pt;}
.x4{left:158.330404pt;}
.x1{left:203.188619pt;}
.x3{left:275.497070pt;}
.x2{left:397.333476pt;}
.x6{left:445.200033pt;}
.x7{left:469.200033pt;}
}
